In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
582,tt0250224,13000000,16929123,Crazy/Beautiful,Kirsten Dunst|Jay Hernandez|Bruce Davison|Herm...,John Stockwell,When it's real. When it's right. Don't let any...,"At Pacific Palisades High, a poor Latino falls...",99,Drama|Romance,Touchstone Pictures|Ufland,6/29/2001,6.6,2001
1521,tt0482546,30000000,35078241,Miss Potter,Ewan McGregor|RenÃ©e Zellweger|Emily Watson|Ba...,Chris Noonan,The life of Beatrix Potter is the most enchant...,"The story of Beatrix Potter, the author of the...",92,Drama|Family|Romance,BBC Films,12/3/2006,6.2,2006
881,tt0187738,54000000,155010032,Blade II,Wesley Snipes|Kris Kristofferson|Ron Perlman|L...,Guillermo del Toro,Faster. Sharper. Deadlier.,A rare mutation has occurred within the vampir...,117,Science Fiction|Horror|Action|Thriller,"New Line Cinema|Marvel Entertainment, LLC|Amen...",3/22/2002,6.1,2002
775,tt1253864,75000000,226904017,Immortals,Mickey Rourke|Kellan Lutz|Isabel Lucas|Henry C...,Tarsem Singh,The Gods need a hero.,Theseus is a mortal man chosen by Zeus to lead...,110,Fantasy|Action|Drama,Virgin Produced|Mark Canton Productions,11/10/2011,5.6,2011
72,tt1524930,31000000,104384188,Vacation,Ed Helms|Christina Applegate|Skyler Gisondo|St...,John Francis Daley|Jonathan M. Goldstein,What could go wrong?,Hoping to bring his family closer together and...,99,Adventure|Comedy,New Line Cinema|BenderSpink|David Dobkin Produ...,7/28/2015,6.1,2015

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['runtime'] = data['runtime'].apply(lambda x: int(x))

In [7]:
# «прибыль» или «убытки» (profit = revenue - budget)
data['profit'] = data['revenue'] - data['budget']

In [8]:
# функция для создания списка актеров, жанров и т.д.
def list_func(df_x):
    list_x = []
    for string in df_x:
        for x in string.split('|'):
            if x not in list_x:
                list_x.append(x)
    return list_x

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [9]:
# в словарь вставляем номер вопроса и ваш ответ на него
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [10]:
# тут пишем ваш код для решения данного вопроса:
data[['original_title','imdb_id', 'budget']][data.budget == data.budget.max()]

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

ВАРИАНТ 2

In [11]:
# можно добавлять разные варианты решения
data[['original_title','imdb_id', 'budget']].sort_values('budget', ascending = False).iloc[0]

original_title    Pirates of the Caribbean: On Stranger Tides
imdb_id                                             tt1298650
budget                                              380000000
Name: 723, dtype: object

Вариант 3

In [14]:
data.original_title[data.budget.idxmax()]

'Pirates of the Caribbean: On Stranger Tides'

In [16]:
%%timeit
data.budget.idxmax()

62.7 µs ± 3.95 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [12]:
data[['original_title','imdb_id', 'runtime']][data.runtime == data.runtime.max()]

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [14]:
data[['original_title','imdb_id', 'runtime']][data.runtime == data.runtime.min()]

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

# 4. Какова средняя длительность фильмов?

In [15]:
answers['4'] = '110'

In [16]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [17]:
answers['5'] = '107'

In [18]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [19]:
answers['6'] = '239. Avatar (tt0499549)'

In [20]:
data[['original_title','imdb_id', 'profit']][data.profit == data.profit.max()]

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

# 7. Какой фильм самый убыточный?

In [21]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

In [22]:
data[['original_title','imdb_id', 'profit']][data.profit == data.profit.min()]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
answers['8'] = '1478'

In [17]:
%%timeit
data[data['revenue'] > data['budget']].original_title.count()

1.1 ms ± 30.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

ВАРИАНТ 2

In [19]:
%%timeit
data.query('revenue > budget').original_title.count()

3.26 ms ± 188 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

ВАРИАНТ 3

In [25]:
%%timeit
data[data['profit'] > 0].shape[0]

766 µs ± 20.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [24]:
data[data['profit'] > 0].shape

(1478, 15)

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [26]:
answers['9'] = '599. The Dark Knight (tt0468569)'

In [27]:
data.query('release_year == 2008')[['original_title','imdb_id', 'revenue']].sort_values('revenue').iloc[-1]

original_title    The Dark Knight
imdb_id                 tt0468569
revenue                1001921825
Name: 599, dtype: object

ВАРИАНТ 2

In [28]:
films_2008 = data.query('release_year == 2008')[['original_title','imdb_id', 'revenue']]
films_2008[films_2008.revenue == films_2008.revenue.max()]

      original_title    imdb_id     revenue
599  The Dark Knight  tt0468569  1001921825

Вариант 3

In [28]:
films_2008 = data[data.release_year == 2008]
films_2008.set_index('original_title')['profit'].idxmax()

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [29]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

In [30]:
films_from_2012_to_2014 = data.query('2012 <= release_year <= 2014')[['original_title','imdb_id', 'profit', 'release_year']]
films_from_2012_to_2014[films_from_2012_to_2014.profit == films_from_2012_to_2014.profit.min()]

       original_title    imdb_id     profit  release_year
1245  The Lone Ranger  tt1210819 -165710090          2013

In [31]:
data.query('2012 <= release_year <= 2014')[['original_title','imdb_id', 'profit', 'release_year']]\
.sort_values('profit').head(1)

       original_title    imdb_id     profit  release_year
1245  The Lone Ranger  tt1210819 -165710090          2013

# 11. Какого жанра фильмов больше всего?

In [32]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [33]:
answers['11'] = 'Drama'

In [34]:
genres=[] #создаем список со всеми повторяющимися жанрами для дальнейшего подсчета
for film_genres in data.genres:
    for genre in film_genres.split('|'):
        genres.append(genre)

In [35]:
# находим самый частый жанр
c = Counter()
Counter(genres).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [36]:
genres_x = pd.Series(data['genres'].str.cat(sep = '|').split('|')).value_counts(ascending=False)
genres_x.head(1)

Drama    782
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [37]:
answers['12'] = 'Drama'

In [38]:
data_profit = data.query('profit > 0')

In [39]:
genres_x = pd.Series(data_profit['genres'].str.cat(sep = '|').split('|')).value_counts(ascending=False)
genres_x.head(1)

Drama    560
dtype: int64

In [1]:
data_profit['genres']

NameError: name 'data_profit' is not defined

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [40]:
answers['13'] = 'Peter Jackson'

In [41]:
data.groupby(by = 'director')['revenue'].sum().sort_values(ascending = False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [42]:
answers['14'] = 'Robert Rodriguez'

In [43]:
# создаем датафрейм с жанром Action 
action_films_df = data[data.genres.apply(lambda row: True if 'Action' in row else False)]

In [44]:
#создем серию с режисерами фильмов Action
directors = pd.Series(action_films_df['director'].str.cat(sep = '|').split('|')).value_counts(ascending=False)
directors.head(5)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [45]:
answers['15'] = 'Chris Hemsworth'

In [46]:
#создаем датафрейм с данными о фильмах за 2012 год с кассовыми сборами вышесреднего, с сортировкой по убыванию
data_2012 = data.query('release_year == 2012 & revenue > revenue.mean() ').sort_values('revenue', ascending=False)

In [47]:
#создаем список актеров
actors_list = list_func(data_2012.cast)
#создаем список сумм кассовых сборов фильмов по каждому актеру 
actor_revenue = []

for actor in actors_list:
    sum_revenue = 0
    for i in data_2012.index:
        if actor in data_2012.cast[i]:
            sum_revenue += data_2012.revenue[i]  
    actor_revenue.append(sum_revenue)

In [48]:
#создаем датафрейм и фильтруем
data_2012_top_actors = pd.DataFrame({'actors': actors_list, 'revenue': actor_revenue})
data_2012_top_actors[data_2012_top_actors.revenue == data_2012_top_actors.revenue.max()]

            actors     revenue
3  Chris Hemsworth  1916157910

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [49]:
answers['16'] = 'Matt Damon'

In [50]:
# создаем датафрейм в котором отображаются фильмы с бюджетом выше среднего с сортировкой по убыванию
data_big_budget = data[data.budget > data.budget.mean()].sort_values('budget', ascending=False)

In [51]:
#создаем серию из актеров которые встречаются в фильмах в data_big_budget и считаем скоько раз они встречаются
actors = pd.Series(data_big_budget['cast'].str.cat(sep = '|').split('|')).value_counts(ascending=False)
actors.head(1)

Matt Damon    18
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [52]:
answers['17'] = 'Action'

In [53]:
# создаем датафрейм в котором отображаются фильмы в которых снимался Nicolas Cage
data_Nicolas_Cage = data[data.cast.apply(lambda row: True if 'Nicolas Cage' in row else False)]

In [54]:
genres = pd.Series(data_Nicolas_Cage['genres'].str.cat(sep = '|').split('|')).value_counts(ascending=False)
genres.head(1)

Action    17
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [55]:
answers['18'] = 'K-19: The Widowmaker'

In [56]:
# создаем датафрейм в котором отображаются фильмы от Paramount Pictures
data_Paramount_Pictures = data[data.production_companies.apply(lambda row: True if 'Paramount Pictures' in row else False)]

In [57]:
#сортируем по прибыли
data_Paramount_Pictures.sort_values('profit', ascending = False)[['original_title','profit']].tail(1)

           original_title    profit
925  K-19: The Widowmaker -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [58]:
answers['19'] = '2015'

In [59]:
# создаем серию с годом и кассовым сборам за этот год
data_year_revenue = data.groupby(by = 'release_year')['revenue'].sum()

# сортируем серию по кассовым сборам и выводим самый успешный
data_year_revenue.sort_values(ascending = False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [60]:
answers['20'] = '2014'

In [61]:
# создаем датафрейм в котором отображаются фильмы от Warner Bros.
data_Warner_Bros= data[data.production_companies.apply(lambda row: True if 'Warner Bros.' in row else False)]

In [62]:
# создаем серию с годом и прибыли за этот год
data_year_profit_Warner_Bros = data_Warner_Bros.groupby(by = ['release_year'])['profit'].sum()
# сортируем серию по прибыли и выводим самый успешный
data_year_profit_Warner_Bros.sort_values(ascending = False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [63]:
answers['21'] = '9'

In [64]:
#добавляем столбец в датафрейм с месяцами релиза
data['release_month']= data.release_date.apply(lambda date: date.split('/')[0])

In [65]:
#суммируем и группируем фильмы
data.groupby(by = ['release_month'])['original_title'].count().sort_values().tail(1)

release_month
9    227
Name: original_title, dtype: int64

ВАРИАНТ 2

In [66]:
data.release_month.value_counts().sort_values().tail(1)

9    227
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [67]:
answers['22'] = '450'

In [68]:
#определяем какие фильмы вышли летом или нет и суммируем
data.release_month.apply(lambda row: True if int(row)==6 or int(row)==7 or int(row)==8 else False).value_counts()

False    1439
True      450
Name: release_month, dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [69]:
answers['23'] = 'Peter Jackson'

In [70]:
data[data.release_month.apply(lambda row: True if int(row)==12 or int(row)==1 or int(row)==2 else False)]\
.director.value_counts().head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [71]:
answers['24'] = 'Universal '

In [72]:
#добавляем колонку в датафрейм с длиной названий фильмов
data['len_title'] = data.original_title.map(lambda row: len(row))

In [73]:
#составляем датафрейм с длиной фильмов больше средних значений
data_len_title = data[data['len_title'] > data['len_title'].mean()]

In [74]:
#делаем серию из списка студий
production_companies = pd.Series(data['production_companies'].str.cat(sep='|').\
                                 split('|')).value_counts(ascending=False)

#создаем датафрейм из этой серии
production_companies = pd.DataFrame(production_companies).sort_values(0, ascending=False)

In [75]:
#перебираем компании и присваиваем каждому значению компании максимальное значение по кол-во символов в названиях фильмов
for company in production_companies.index:
    production_companies[company] = data['len_title'][data['production_companies'].\
                                                                map(lambda x: True if company in x else False)].mean()

production_companies.drop(0, axis=1).max().sort_values(ascending = False).head(2)

Four By Two Productions    83.0
Jim Henson Company, The    59.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [76]:
answers['25'] = 'Midnight Picture Show'

In [77]:
#добавляем колонку в датафрейм с длиной описаний фильмов
data['len_overview'] = data.overview.map(lambda row: len(row.split(' '))).sort_values(ascending=False)

In [78]:
#делаем серию из списка студий
production_companies = pd.Series(data['production_companies'].str.cat(sep='|').split('|')).value_counts(ascending=False)

#создаем датафрейм из этого этой серии
production_companies = pd.DataFrame(production_companies).sort_values(0, ascending=False)

In [79]:
#перебираем компании и присваиваем каждому значению компании среднее значение по кол-во слов в описаниях фильмов
for company in production_companies.index:
    production_companies[company] = data['len_overview'][data['production_companies'].map(lambda x: True if company in x else False)].mean()
production_companies.drop(0, axis=1).max().sort_values(ascending = False).head(1)

Midnight Picture Show    175.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [80]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [81]:
#находим рейтинг который превышает 1 процент фильмов
quantile = np.quantile(data.vote_average, 0.99)

In [82]:
#находим 1 процент лучших по рейтингу фильмов
data[data.vote_average > quantile].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [83]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [84]:
#создаем  серию с комбинациями актеров по фильмам 
data_actors = data.cast.str.split('|').apply(lambda row: list(combinations(row, 2)))

In [85]:
#делаем список из всех комбинаций и 
list_actors_comb = []
for row in data_actors:
    for x in row:
        list_actors_comb.append(x)
pd.Series(list_actors_comb).value_counts().head(5)

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
dtype: int64

# Submission

In [86]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Universal ',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [87]:
# и убедиться что ни чего не пропустил)
len(answers)

27